body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.buttons-container {
  margin: 20px 0;
}

.actividades {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.foco, .ventilador, .sensorTempuratura {
  width: 50px;
  height: 50px;
  margin: 0 20px;
  border-radius: 50%;
}

